{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портал ОАО "Пуховичинефтепродукт"</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
    <script src="{% static 'js/jquery-3.6.4.min.js' %}  "></script>
</head>
<body>
    <div class="container">

        {% block user-info %}
            {% include 'user-info.html' %}
        {% endblock %}
        
        {% block menu %}
            {% include 'mainmenu.html' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
<!-- Включаем chat -->
{% include 'chat.html' %}
<!-- Включаем футер -->
{% include 'footer.html' %}
</body>
</html>
