{% extends 'base.html' %}

{% block menu %}
    {# Пустой блок, чтобы исключить mainmenu.html #}
{% endblock %}

{% block user-info %}
    {# Пустой блок, чтобы исключить user-info.html #}
{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
        <h2 class="text-center mt-5">Добро пожаловать, {{ request.user.first_name }}!</h2>
        <h5 class="text-center mt-3">Выберете раздел для работы:</h5>
        <div class="menu-container">
            <div class="list-group">
                <a href="{% url 'regforma' %}" class="list-group-item list-group-item-action">Закупочная деятельность</a>
                <a href="{% url 'classifikator' %}" class="list-group-item list-group-item-action">Классификатор ОКРБ</a>
                <!--<a href="#" class="list-group-item list-group-item-action">Технология</a> -->
            </div>
        </div>
        <div class="text-center mt-5">
            <!-- Вывод видео в отдельное окно-->
            <div class="text-center">
				<a href="javascript:void(0);" onclick="openVideoWindow();">Смотреть видеоинструкцию</a>
			</div>
            <script>
                function openVideoWindow() {
                    window.open("{% url 'video_page' %}", "VideoWindow", `width=${screen.width},height=${screen.height}`);
                }
            </script>
        </div><br>
    </div>
{% endblock %}
