<!-- templates/menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-5">Добро пожаловать, {{ request.user.first_name }}!</h2>
        <h5 class="text-center mt-3">Выберете раздел для работы:</h5>
        <br>
        <div class="list-group">
            <a href="{% url 'regforma' %}" class="list-group-item list-group-item-action">Закупочная деятельность</a>
            <a href="#" class="list-group-item list-group-item-action">Метрология</a>
            <a href="#" class="list-group-item list-group-item-action">Технология</a>
        </div>
    </div>
</body>
</html>
